SELECT
	[PREF]
	,MAX([REG_USER_COUNT]) AS MAX_REG_USER_COUNT
FROM
(SELECT
	(CASE WHEN b.[PREF_NAME_EN] IS NULL THEN c.[PREF_NAME_EN] ELSE b.[PREF_NAME_EN] END) AS [PREF]
	,(CASE WHEN b.[MONTH] IS NULL THEN c.[MONTH] ELSE b.[MONTH] END) AS [MONTH]
	--,(CASE WHEN b.[SEX] IS NULL THEN c.[SEX] ELSE b.[SEX] END) AS [SEX]
	,(CASE WHEN b.[REG_USER_COUNT] IS NULL THEN 0 ELSE b.[REG_USER_COUNT] END) AS REG_USER_COUNT
	,(CASE WHEN c.[WITHDRAW_USER_COUNT] IS NULL THEN 0 ELSE c.[WITHDRAW_USER_COUNT] END) AS WITHDRAW_USER_COUNT
	,(CASE WHEN b.[LAT] IS NULL THEN c.[LAT] ELSE b.[LAT] END) AS [LAT]
	,(CASE WHEN b.[LOG] IS NULL THEN c.[LOG] ELSE b.[LOG] END) AS [LOG]
FROM
(
	SELECT COUNT([USER_ID]) AS REG_USER_COUNT
		,[REG_MONTH] AS [MONTH]
		--,[SEX]
		,[PREF_NAME_EN]
		,[LAT]
		,[LOG]
	FROM
	(
	SELECT
		[USER_ID]
	   ,CAST(CAST(DATEPART(year, [REG_DATE]) AS VARCHAR(4)) + RIGHT('0' + CAST(DATEPART(month, [REG_DATE]) AS VARCHAR(2)), 2) + '01' AS DATETIME) AS [REG_MONTH]
	   --,CAST(CAST(DATEPART(year, [WITHDRAW_DATE]) AS VARCHAR(4)) + RIGHT('0' + CAST(DATEPART(month, [WITHDRAW_DATE]) AS VARCHAR(2)), 2) + '01' AS DATETIME) AS [WITHDRAW_MONTH]
	   --,[SEX]
	   --,[AGE]
	   ,[PREF_NAME_EN]
	   ,[LAT]
	   ,[LOG]
	FROM [coupon].[dbo].[UserList] userList
	LEFT OUTER JOIN [coupon].[dbo].[PrefectureLocations] locations
	ON userList.[PREF_NAME_EN] = locations.[EN_PREF]
	WHERE [PREF_NAME_EN] != 'NULL'
	) a
  GROUP BY
  [REG_MONTH]
  --[WITHDRAW_MONTH]
  --,[SEX]
  --,[AGE]
  ,[PREF_NAME_EN]
  ,[LAT]
  ,[LOG]
  ) b
  FULL OUTER JOIN
  (
  	SELECT COUNT([USER_ID]) AS WITHDRAW_USER_COUNT
		,[WITHDRAW_MONTH] AS [MONTH]
		--,[SEX]
		,[PREF_NAME_EN]
		,[LAT]
		,[LOG]
	FROM
	(
		SELECT
			[USER_ID]
		--,CAST(CAST(DATEPART(year, [REG_DATE]) AS VARCHAR(4)) + RIGHT('0' + CAST(DATEPART(month, [REG_DATE]) AS VARCHAR(2)), 2) + '01' AS DATETIME) AS [REG_MONTH]
		,CAST(CAST(DATEPART(year, [WITHDRAW_DATE]) AS VARCHAR(4)) + RIGHT('0' + CAST(DATEPART(month, [WITHDRAW_DATE]) AS VARCHAR(2)), 2) + '01' AS DATETIME) AS [WITHDRAW_MONTH]
		--,[SEX]
		--,[AGE]
		,[PREF_NAME_EN]
		,[LAT]
		,[LOG]
	FROM 
	(
		SELECT *
		FROM [coupon].[dbo].[UserList]
		WHERE [PREF_NAME_EN] != 'NULL'
		AND [WITHDRAW_DATE] IS NOT NULL
	) userList
	LEFT OUTER JOIN [coupon].[dbo].[PrefectureLocations] locations
	ON userList.[PREF_NAME_EN] = locations.[EN_PREF]
	) a
  GROUP BY
  --[REG_MONTH]
  [WITHDRAW_MONTH]
  --,[SEX]
  --,[AGE]
  ,[PREF_NAME_EN]
  ,[LAT]
  ,[LOG]
) c

ON b.[MONTH] = c.[MONTH]
AND b.[PREF_NAME_EN] = c.[PREF_NAME_EN]
--AND b.[SEX] = c.[SEX]
ORDER BY
[PREF]
,[MONTH]
--,[SEX]
) d
GROUP BY [PREF]
